{% comment %}
This snippet will take the variable "posts_to_sort" and sort it by
start-date for events and end-date for actions. Any updates will appear
at the beginning.

All the variables in this snippet begin with S_.

The return variable is S_posts, the array of sorted posts.
{% endcomment %}

{% assign S_isevent  = "post.categories contains 'event'" %}
{% assign S_isaction  = "post.categories contains 'action'" %}
{% assign S_isupdate = "post.categories contains 'update'" %}

{% assign S_unsorted_events = (posts_to_sort|where_exp:"post",S_isevent) %}
{% assign S_unsorted_actions = (posts_to_sort|where_exp:"post",S_isaction) %}
{% assign S_updates = (posts_to_sort|where_exp:"post",S_isupdate) %}

{% assign S_events = (S_unsorted_events|sort:"event-start-date","last") %}
{% assign S_actions = (S_unsorted_actions|sort:"event-end-date","last") %}

{% assign S_ev_dates = (S_events | map: "event-start-date") %}
{% assign S_act_dates = (S_actions | map: "event-end-date") %}


{% assign S_event_index = 0 %}
{% assign S_action_index = 0 %}

{% assign S_posts = site.emptyArray %}

{% for S_update in S_updates %}
  {% assign S_posts = S_posts | push: S_update %}
{% endfor %}

{% assign S_used_events = site.emptyArray %}
{% assign S_used_actions = site.emptyArray %}
<p>Number of events: {{ S_events | size }}<p>
<p>Number of action: {{ S_actions | size }}<p>
{% for S_i in S_events %}
  {% assign S_next_ev_date = (S_ev_dates[S_event_index] | date: '%s') %}
  {% assign S_next_act_date = (S_act_dates[S_action_index] | date: '%s') %}
  {% if S_next_act_date == nil or S_next_ev_date < S_next_act_date %}
    {% assign S_next_event = S_events[S_event_index] %}
    {% assign S_posts = (S_posts | push: S_next_event) %}
    {% assign S_used_events = (S_used_events | push: S_next_event) %}
    {% assign S_event_index = S_used_events | size %}
  {% else %}
    {% assign S_next_action = S_actions[S_action_index] %}
    {% assign S_posts = (S_posts | push: S_next_action) %}
    {% assign S_used_actions = (S_used_actions | push: S_next_action) %}
    {% assign S_action_index = (S_used_actions | size) %}
  {% endif %}
{% endfor %}

{% for S_i in S_actions %}
  {% assign S_next_ev_date = (S_ev_dates[S_event_index] | date: '%s') %}
  {% assign S_next_act_date = (S_act_dates[S_action_index] | date: '%s') %}
  {% if S_next_act_date == nil or S_next_ev_date < S_next_act_date %}
    {% assign S_next_event = S_events[S_event_index] %}
    {% assign S_posts = (S_posts | push: S_next_event) %}
    {% assign S_used_events = (S_used_events | push: S_next_event) %}
    {% assign S_event_index = S_used_events | size %}
  {% else %}
    {% assign S_next_action = S_actions[S_action_index] %}
    {% assign S_posts = (S_posts | push: S_next_action) %}
    {% assign S_used_actions = (S_used_actions | push: S_next_action) %}
    {% assign S_action_index = (S_used_actions | size) %}
  {% endif %}
{% endfor %}
