---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <!-- BODY CONTENT -->
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5">
        {{ content }}

        {% unless site.categories.action.size > 0 %}
          <p>No posts in this category at this time.</p>
        {% endunless %}

        <div class="clearfix spacer"></div>


      </div>
    </div>



    <!-- ACTIVE ACTIONS -->
    <div class="row">

      <div class="col-sm-8">

        <h5 class="mb-2">Active Actions</h5>
        <div class="post-list">

          {% assign curDate = site.time | date: '%s' %}
          {% assign sortedActions = (site.categories.action | sort: 'event-end-date') %}
          
            {% for post in sortedActions %}
            {% assign postEndDate = post.event-end-date | date: '%s' %}
            {% if postEndDate >= curDate %}
              {% include action-post-header.html %}
            {% endif %}
          {% endfor %}

        </div><!-- END ACTIVE ACTIONS -->
        

        <!-- PAST ACTIONS -->

        <div class="clearfix spacer"></div>

        <h5 class="mb-0">Past Actions</h5>

        {% unless site.categories.action.size > 0 %}
          <hr class="mt-2 mb-2">
          <p>No posts in {{ page.title | escape }} at this time.</p>
        {% endunless %}

        <div class="post-list">

        {% assign curDate = site.time | date: '%s' %}
        {% assign sortedActions = (site.categories.action | sort: 'event-end-date') | reverse %}
        
        {% for post in sortedActions %}
          {% assign postEndDate = post.event-end-date | date: '%s' %}
          {% if postEndDate <= curDate %}

            {% include action-post-header.html %}

          {% endif %}

        {% endfor %}

        </div><!-- END PAST ACTIONS -->


          </div>


          <div class="col-sm-4">
            <h5 class="mb-2">Launch your action</h5>
            <hr class="mt-2 mb-2">
            <p>Have an idea for an action? You are the one you've been
            waiting for, and we can help!</p>
            <p><a class="btn btn-outline-primary" href="/teams">Join a team</a></p>
          </div>



          <!-- END ACTIONS -->

    </div>

  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
