---
layout: default
---

<div class="container">
    <div class="clearfix spacer"></div>
    <h1>{{ page.tag }}</h1>
    <div class="clearfix spacer"></div>
    <div class="row">
        <div class="col-sm-8">
            <h5 class="mb-0">Upcoming Events and Actions</h5>

            <div class="post-list">

                {% assign curDate = site.time | date: '%s' %}
                {% assign posts_to_sort = site.tags[page.tag] %}
                {% include sort-by-date.html %}
                {% assign sortedPosts = S_posts %}
                {% for post in sortedPosts %}
                  {% if post.categories contains 'event' %}
                      {% assign postStartDate = post.event-start-date | date: '%s' %}
                      {% if postStartDate >= curDate %}
                        {% include event-post-header.html %}
                      {% endif %}
                  {% endif %}
                  {% if post.categories contains 'action' %}
                      {% assign postEndDate = post.event-end-date | date: '%s' %}
                      {% if postEndDate >= curDate %}
                        {% include action-post-header.html %}
                      {% endif %}
                  {% endif %}
                {% endfor %}

            </div><!-- END UPCOMING EVENTS -->
        </div>
    </div>
</div>
<!--
<ul>
    {% for post in site.tags[page.tag] %}
    <li>
        {{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
-->
