---
layout: default
---

{% assign email-domain = "@indivisibleberkeley.org" %}
{% assign email-subscribe = (page.team-email | append: "+subscribe" | append: email-domain) %}
{% assign email-owner = (page.team-email | append: "+owner" | append: email-domain) %}
{% assign email-list = (page.team-email | append: email-domain) %}
  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <!-- BODY CONTENT -->
    <div class="row">
      <!-- TEAM CONTACT INFO -->
      <div class="col-sm-5 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-header bg-medium">
            <strong>Team info</strong>
          </div>
          <ul class="list-group list-group-flush">
            {% if page.team-email %}
              <li class="list-group-item">
              <small>SUBSCRIBE</small>
              <br>
              <a href="mailto:{{ email-subscribe }}">{{ page.team-email }}+subscribe
                  <br><small>{{ email-domain }}</small></a>
              </li>
              <li class="list-group-item">
              <small>TEAM LEADS</small>
              <br>
              <a href="mailto:{{ email-owner }}">{{ page.team-email }}+owner
                  <br><small>{{ email-domain }}</small></a>
              </li>
              <li class="list-group-item">
              <small>EMAIL LIST</small>
              <br>
              <a href="mailto:{{ email-list }}">{{ page.team-email }}
                  <br><small>{{ email-domain }}</small></a>
              </li>
            {% else %}
              <li class="list-group-item">
                  This team hasn't uploaded its email contact info yet. Check
                  out our <a href="/teams">teams page</a> instead.
              </li>
            {% endif %}
            {% if page.team-slack %}
              <li class="list-group-item">
              <small>SLACK</small><br>#{{ page.team-slack }}
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="clearfix spacer"></div>

      </div>
      <div class="col-sm-8">
        
        <div class="post-list"> <!-- ACTIVE EVENTS -->
          {% assign curDate = site.time | date: '%s' %}
          {% assign sortedEvents = (site.categories.event | sort: 'event-start-date') %}
          {% assign activeEvents = false %}
          {% for post in sortedEvents %}
            {% if post.tags contains page.teamtag %}
              {% assign postStartDate = post.event-start-date | date: '%s' %}
              {% if postStartDate >= curDate %}
                {% comment %} only display team events heading if there are
             team events to display {% endcomment %}
                {% if activeEvents == false %}
                    <h3 class="mb-2">Team Events</h3>
                {% endif %}
                {% assign activeEvents = true %}
                {% include post-list.html %}
              {% endif %}
            {% endif %}
          {% endfor %}

        </div> <!-- END ACTIVE EVENTS -->
        
        <div class="post-list"> <!-- ACTIVE ACTIONS -->
          {% assign curDate = site.time | date: '%s' %}
          {% assign sortedActions = (site.categories.action | sort: 'event-end-date') %}
          {% assign activeActions = false %}
          {% for post in sortedActions %}
            {% if post.tags contains page.teamtag %}
              {% assign postEndDate = post.event-end-date | date: '%s' %}
              {% if postEndDate >= curDate %}
                {% comment %} only display team actions heading if there are
             team actions to display {% endcomment %}
                {% if activeActions == false %}
                    <h3 class="mb-2">Team Actions</h3>
                {% endif %}
                {% assign activeActions = true %}
                {% include post-list.html %}
              {% endif %}
            {% endif %}
          {% endfor %}

        </div> <!-- END ACTIVE ACTIONS -->
        <hr>

        {{ content }}

        <div class="clearfix spacer"></div>
        <hr>

        <div class="post-list"> <!-- PAST EVENTS -->
          {% assign curDate = site.time | date: '%s' %}
          {% assign sortedEvents = (site.categories.event | sort: 'event-start-date') | reverse %}
          {% assign pastEvents = false %}
          {% for post in sortedEvents %}
            {% if post.tags contains page.teamtag %}
              {% assign postStartDate = post.event-start-date | date: '%s' %}
              {% if postStartDate < curDate %}
                {% comment %} only display team events heading if there are
             team events to display {% endcomment %}
                {% if pastEvents == false %}
                    <h3 class="mb-2">Past Events</h3>
                {% endif %}
                {% assign pastEvents = true %}
                {% include post-list.html %}
              {% endif %}
            {% endif %}
          {% endfor %}

        </div><!-- END PAST EVENTS -->
        
        <div class="post-list"> <!-- PAST ACTIONS -->
          {% assign curDate = site.time | date: '%s' %}
          {% assign sortedActions = (site.categories.action | sort: 'event-end-date') | reverse %}
          {% assign pastActions = false %}
          {% for post in sortedActions %}
            {% if post.tags contains page.teamtag %}
              {% assign postEndDate = post.event-end-date | date: '%s' %}
              {% if postEndDate < curDate %}
                {% comment %} only display team actions heading if there are
             team actions to display {% endcomment %}
                {% if pastActions == false %}
                    <h3 class="mb-2">Past Actions</h3>
                {% endif %}
                {% assign pastActions = true %}
                {% include post-list.html %}
              {% endif %}
            {% endif %}
          {% endfor %}

        </div><!-- END PAST ACTIONS -->
        
      </div>
    </div>


  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
