---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <!-- BODY CONTENT -->
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5">
        <h4 class="mb-2">Team Actions</h5>
        
        {% assign curDate = site.time | date: '%s' %}
        {% assign sortedActions = (site.categories.action | sort: 'event-end-date') %}
        {% for post in sortedActions %}
          {% if post.tags contains 'environment' %}
            {% assign postEndDate = post.event-end-date | date: '%s' %}
            {% if postEndDate >= curDate %}
              {% include event-post-header.html %}
            {% endif %}
          {% endif %}
        {% endfor %}
        
        {% for post in sortedActions %}
          {% if post.tags contains 'environment' %}
            {% include event-post-header.html %}
          {% endif %}
        {% endfor %}
      
        {{ content }}

        {% unless site.categories.action.size > 0 %}
          <p>No posts in this category at this time.</p>
        {% endunless %}

        <div class="clearfix spacer"></div>


      </div>
    </div>


  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
