---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <!-- BODY CONTENT -->
    <div class="row">
      <div class="col-sm-8">
        
        <div class="post-list"> <!-- ACTIVE EVENTS -->
          {% assign curDate = site.time | date: '%s' %}
          {% assign sortedEvents = (site.categories.event | sort: 'event-start-date') %}
          {% assign activeEvents = false %}
          {% for post in sortedEvents %}
            {% if post.tags contains page.teamtag %}
              {% assign postStartDate = post.event-start-date | date: '%s' %}
              {% if postStartDate >= curDate %}
                {% comment %} only display team events heading if there are
             team events to display {% endcomment %}
                {% if activeEvents == false %}
                    <h3 class="mb-2">Team Events</h3>
                {% endif %}
                {% assign activeEvents = true %}
                {% include post-list.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
          
          {% comment %}
          {% if activeEvents == false %}
            <p>No posts in this category at this time.  Check back soon!</p>
          {% endif %}
          {% endcomment %}

        </div> <!-- END ACTIVE EVENTS -->
        <h3 class="mb-2">Team Actions</h3>
        
        <div class="post-list"> <!-- ACTIVE ACTIONS -->
          {% assign curDate = site.time | date: '%s' %}
          {% assign sortedActions = (site.categories.action | sort: 'event-end-date') %}
          {% assign activeActions = false %}
          {% for post in sortedActions %}
            {% if post.tags contains page.teamtag %}
              {% assign postEndDate = post.event-end-date | date: '%s' %}
              {% if postEndDate >= curDate %}
                {% assign activeActions = true %}
                {% include post-list.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
          
          {% if activeActions == false %}
            <p>No posts in this category at this time.  Check back soon!</p>
          {% endif %}

        </div> <!-- END ACTIVE ACTIONS -->
        <hr>

        {{ content }}

        <div class="clearfix spacer"></div>
        <hr>

        <h3 class="mb-2">Past Actions</h3>
        
        <div class="post-list"> <!-- PAST ACTIONS -->
          {% assign curDate = site.time | date: '%s' %}
          {% assign sortedActions = (site.categories.action | sort: 'event-end-date') %}
          {% assign pastActions = false %}
          {% for post in sortedActions %}
            {% if post.tags contains 'environment' %}
              {% assign postEndDate = post.event-end-date | date: '%s' %}
              {% if postEndDate < curDate %}
                {% assign pastActions = true %}
                {% include post-list.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
                                         
          {% if pastActions == false %}
            <p>No posts in this category at this time.  Check back soon!</p>
          {% endif %}
        </div><!-- END PAST ACTIONS -->
        
      </div>
    </div>


  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
